body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.endpoint {
  border: 1px solid;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  width: 50%;
  line-height: 20px;
}

.noclick-url {
  font-family: 'Roboto Mono', monospace, 'Courier New';
  font-style: italic;
  font-weight: bold;
}

.code-sample {

}